@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid");

body {
  padding: 0;
  background: #11192a;
  font-family: "Londrina solid";
  font-size: 1.5rem;
  max-width: 650px;
  /* min-width: 500px; */
  margin: auto;
  margin-top: 200px;
  /*  */
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* border: solid 5px magenta; */
}

.title {
  text-align: center;
}

@media (max-width: 800px) {
  body {
    padding: 0;
    background: #11192a;
    font-family: "Londrina solid";
    font-size: 1.5rem;
    /* padding: 10px 100px 10px 10px; */

    margin: auto;
    margin-top: 200px;
    /* margin-right: 5px;
    margin-left: 5px; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* border: solid 5px magenta; */
  }
}

h1 {
  /* border: solid 5px magenta; */
  letter-spacing: 0.1em;
  position: relative;
  color: white;
}
h1::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  background: #afdfd9;
  bottom: 4px;
  z-index: -1;
}

button {
  color: white;
  margin-bottom: 20px;
  border: 3px solid #1b4755;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  opacity: 1;
  background-color: #275f72;
  transition: 0.3s;
}

button:hover {
  background-color: #c5f3ee;
  border: 3px solid #8dbeb9;
  color: black;
  /* opacity: 0.6; */
  transition: 0.3s;
  transform: scale(1.04) perspective(1px);
}

.hidden {
  display: none;
}

.joke {
  display: flex;
  flex-direction: column;
}

.bubble {
  display: inline-block;
  position: relative;
  padding: 30px 40px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  margin-bottom: 60px;
}

.bubble::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px;
  height: 50px;
  width: 90px;
  border-radius: 0 0 100%;
  box-shadow: -2px -2px 0 0 #000 inset, -23px 0 0 0 #fff inset,
    -25px -2px 0 0 #000 inset;
}

.newJokeBtn {
  background-color: #275f72;
  /* opacity: 0.6; */
  transition: 0.3s;
}

.newJokeBtn:hover {
  background-color: #afdfd9;
  color: black;
  border: 3px solid #8dbeb9;
}
